<html>
  <head>
    <title>CS Grad Helper</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        width: 800px;
        margin:auto;
      }

      .float-container:after {
        content:"";
        display:block;
        clear:both;
      }

      .form-container {
        margin:10px;
        padding:10px;
        border: 1px solid grey;
      }

      .col-4 {
        margin-left: 2px;
        margin-right: 2px;
        width: 33%;
        float:left;
      }
    </style>
  </head>
  <body>
    <div class="float-container">
      <div class="col-4" id="factorial_container">
        <div class="form-container">
          <form method="POST" action="{% url 'website:fact' %}">
            {% csrf_token %}
            <p>Calculate n!</p>
            <label>Enter n:</label>
            <input type="number" name="number"/>
            <input type="submit" value="Go!" />
            <p>Result is: {{ fact_number }}</p>
          </form>
        </div>
      </div>

      <div class="col-4" id="fibonacci_container">
      <div class="form-container">
          <form method="POST" action="{% url 'website:fib' %}">
            {% csrf_token %}
            <p>Find nth fibonacci.</p>
            <label>Enter n:</label>
            <input type="number" name="number"/>
            <input type="submit" value="Go!" />
            <p>Result is: {{ fib_number }}</p>
          </form>
        </div>
      </div>

      <div class="col-4" id="primes_container">
        <div class="form-container">
          <form method="POST" action="{% url 'website:prime' %}">
            {% csrf_token %}
            <p>List first n prime numbers.</p>
            <label>Enter n:</label>
            <input type="number" name="number"/>
            <input type="submit" value="Go!" />
            <p>Result is: {{ primes }}</p>
          </form>
        </div>
      </div>

    </div>
  </body>
</html>
