<style>
body {
  background-color: #c9c6c6;
}
label {
  display: block;
}
  .errors {
    color: red;
  }
  .login-box {
    width: 20%;
    margin-left: 35%;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }
  .welcoming {
    font-weight: 900;
    padding-bottom: 30px;
    color: #908c8c;
  }
  .login-btn {
    background-color: #ffa500cc;
    padding: 5px;
    border-radius: 7px;
    border-color: #ffa500cc;
  }
  a {
    color: #7e7e8c;
  }
  a:hover {
    color: #ffa500cc;
  }

</style>
<div class="login-box">
  <div class="welcoming"><span>Welcome, please provide your credentials!</span></div>
  <form action="{% url 'website:login' %}" method="POST">
    {% csrf_token %}
    <label for="email">
      Email:
    </label>
    <input id="email" name="email" type="email">
    <br/>
    <label for="password">
      Password:
    </label>
    <input id="password" name="password" type="password">
    <br/>
    <input class="login-btn" type="submit" value='Login!'>
    <a href="{% url 'website:register' %}">
      Register?
     </a><br>
  </form>

  <div class="errors">
    <b>{{error}}</b>
  </div>
</div>
